<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <title id="patientTitle">Patient page</title>
</head>

<body>

<div id="page-content-wrapper">
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <button class="btn btn-primary" id="menu-toggle" >Ehealth</button>

        <button  id="miniMenu" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav mr-auto">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </div>
            <div class="navbar-nav">
                <a id="logout" class="nav-link" href="#">Sign Out</a>
            </div>
        </div>
    </nav>
    <div>
        <h1 id="patientName">Patient Name</h1>
        <a href="/authorize"  id="autosync" type="button" class="btn btn-primary" > Auto-Sync </a>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Manual Data Entry</button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered mw-100" role="document" >
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Enter Data</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Time</th>
                                <th scope="col">Value</th>
                                <th scope="col">Measuremnt Type</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td> <input id="date" type="date">
                                </td>
                                <td><input id="time" type="time"></td>
                                <td><input id="paramVal" type="text"></td>
                                <td>   <div class="btn-group">
                                        <a  id="measurementType" class="btn btn-light dropdown-toggle" data-toggle="dropdown">Select a measurement <span class="caret"></span></a>
                                        <ul class="dropdown-menu" id="menu">
                                            <li class="dropdown-item px-2"><a href="#">Blood Pressure</a></li>
                                            <li class="dropdown-item px-2"><a href="#">Heart Rate</a></li>
                                        </ul>
                                    </div></td>
                            </tr>
                            </tbody>

                        </table>
                    </div>
                    <div class="modal-footer">
                        <button id="close" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="save" type="button" class="btn btn-primary">Save changes</button>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="d-flex" id="wrapper">
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="list-group list-group-flush">
                <img id="patientImage" src="data:," alt="Alternative Text">
                <a id="patientName" class="list-group-item list-group-item-action bg-light"> Name</a>
                <a id="patientEmail" class="list-group-item list-group-item-action bg-light"> Email</a>
                <a id="patientPhone" class="list-group-item list-group-item-action bg-light"> Phone</a>
            </div>
        </div>
        <div class="container-fluid">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="hr-tab" data-toggle="tab" href="#hr" role="tab" aria-controls="home" aria-selected="true">Heart Rate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="bp-tab" data-toggle="tab" href="#bp" role="tab" aria-controls="profile" aria-selected="false">Blood Pressure</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">----</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">----</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="hr" role="tabpanel" aria-labelledby="hr-tab">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Time</th>
                            <th scope="col">Value</th>
                        </tr>
                        </thead>
                        <tbody>


                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="bp" role="tabpanel" aria-labelledby="bp-tab">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Time</th>
                            <th scope="col">Value</th>
                        </tr>
                        </thead>
                        <tbody>


                        </tbody>
                    </table></div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script><script>
    $(".dropdown-menu li a").click(function(e){
        e.preventDefault()
        var selText = $(this).text();
        $(this).parents('.btn-group').find('.dropdown-toggle').html(selText+' <span class="caret"></span>');
    });
</script>
</body>

</html>