body {
    background-color: white;
}
h1 {
    color: black;
}

p {
    color: black;
}

#navbarSupportedContent a {
    color: white;
    font-weight: bold;
}

#menu-toggle {
    color: white;
    font-weight: bold;
}
.active-cyan-2 input[type=search]:focus:not([readonly]) {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
}