body {
    background-color: white;
}

p {
    color: black;
}
#sidebar-wrapper img {
    height: 200px;
    padding: 30px
}
#sidebar-wrapper a {
    padding:30px;
}
#sidebar-wrapper button {
    margin: 20px;
}
#navbarSupportedContent a {
    color: white;
    font-weight: bold;
    margin-left: 20px;
}

#menu-toggle {
    color: white;
    font-weight: bold;
}
#top {
    margin: 10px;
}
#top h1{
    color: black;
    width: 30%;
    margin: 0;
    display: inline-block;
}
#top button {
    float: right;
    margin: 10px;
}